/* Coloreaza mov elementele b care se afle in paragrafe (descendenta)*/
p b {
  color: purple;
}

/* Subliniaza elementele i care se afla in listele neordonate (descendenta)*/

ul i {
  text-decoration: underline;
}
/* Coloreaza elementele h2 care urmeaza imediat dupa h1 verzi (adiacenta)
 */
h1 + h2 {
  color: green;
}
/* Sublineaza cu o linie punctata rosie elementele h3 care urmeaza imediat dupa h2 si seteaza (folosind shorthand) marginea de sus la 8px. Restul marginilor trebuie sa ramana la fel. (adiacenta)*/

h2 + h3 {
  text-decoration: underline dotted red;
  margin: 8px 0 18px 0;
}
/* Seteaza o bordura de 1px albastra si un padding de 5px in jurul elementelor h3 care urmeaza in document dupa un element ol (adiacenta generala) */
ol ~ h3 {
  border: 1px solid blue;
  padding: 5px;
}
/* Seteaza o bordura de 1 px punctata, neagra si un padding de 20px in jurul elementelor p care urmeaza dupa elemente ul (adiacenta generala)*/
ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

/* Coloreaza maro elementele li care sunt descendenti directi ai listelor neordonate care sunt la randul lor descendenti directi ai listelor nerodonate*/

ul > li > ul > li {
  color: brown;
}
/* Subliniaza elementele li de nivel doi al elementelor ul */

ul > li > ul > li {
  text-decoration: underline;
}
/* seclector acora ul > li > ul > li > a */

/* Coloreaza albastru elementele i care se afle in paragrafe (descendenta)*/

p > i {
  color: blue;
}

/* Subliniaza elementele i care se afla in elementele cu clasa u-line (descendenta)*/

u-line > i {
  text-decoration: underline;
}
/* Elimina marginea de sus pentru paragrafele care se afla imediat dupa elemente h3 (adiacenta)*/

p ~ h3 {
  margin-top: unset;
}

/* Subliniaza elementele h2 care urmeaza imediat dupa elemente ol (adiacenta)*/

ol ~ h2 {
  text-decoration: underline red;
}

/* Adauga un padding orizontal de 12 si unul vertical de 10 elementelor p care urmeaza dupa elementul cu clasa random (adiacenta generala)*/

p ~ .random {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

/* Coloreaza galben toate ancorele care se afla in listele neordonate ce urmeaza dupa elementul cu clasa last-list (adiacenta generala)*/

.last-list ~ ul a {
  color: yellow;
}

/* Subliniaza elementele li care sunt descendenti directi ai listelor cu clasa my-list */

.my-list > li {
  text-decoration: underline;
  color: green;
}

/* Adauga un padding de 5px (display: inline-block) tuturor ancorelor (si doar lor) care se afla in listele de nivel doi ale elementului cu clasa .nested  */

.nested > ul > li > a {
  padding: 5px;
  display: inline-block;
}
