/* In documentul din director, creaza un element div cu clasa my-div care sa aibe latimea de 500px, inaltimea de 102px, fundalul rosu si bordura verde de 1px. Elementul sa fie si centrat.
 */
.my-div {
  height: 102px;
  width: 500px;
  background-color: red;
  border: 1px solid green;
  margin: 0 auto;
}

/* Creaza un div cu clasa blue latimea de 150px, inaltimea de 300px, colturile rotunjite de 20 si fundalul albastru care sa aibe
padding-top -> 25px;
padding-bottom -> 10px;
padding-left -> 13px;
padding-right -> 21px;
 */
.blue {
  width: 150px;
  height: 300px;
  border-radius: 20px;
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 10px;
  scroll-padding-left: 13px;
  scroll-padding-right: 21px;
}

/* Creaza un div cu clasa container care sa aibe latimea de 100%, inaltime nespecificata cu o bordura verde solida de 3px si toate valorile pentru padding 15px
 */
.container {
  width: 100%;
  border: 3px solid green;
  padding: 15px;
}

/* Creaza un div cu clasa green, latimea de 500px, inaltimea de 220px, cu bordura neagra de 1px, centrat care sa aibe:
padding-top, padding-bottom -> 13px;
padding-left, padding-right -> 19px;
 */
.green {
  height: 220px;
  width: 500px;
  border: 1px solid black;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: green;
}
/* Creaza un div cu clasa purple si fundalul mov, bordura de 2 px punctata verde, colturile rotunjite de 40 cu valorile pentru padding:
padding-left -> 20px
padding-top -> 10px
padding-bottom -> 0
padding-right -> 15px;
 */

.purple {
  border: 2px dotted green;
  border-radius: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 15px;
}
/* Creaza un div cu clasa turquoise si fundalul turcoaz, bordura albastra de 1px, colturile rotunjite de 15 cu valorile pentru padding:
padding-top, padding-bottom -> 11px
padding-left, padding-right -> 20px
 */
.turcoaz {
  background-color: turquoise;
  border: 1px solid blue;
  border-radius: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Creaza un div cu clasa transparent, cu bordura rosie de 2px si valorile pentru padding setate la 20 pentru toate partile, si pentru margin:
margin-bottom, margin-top ->20px;
margin-left, margin-right -> auto
 */
.transparent {
  border: 2px solid red;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}
